{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=2, user-scalable=no">
    <meta name="author" content="John Doe">
    <title>Title</title>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>
    <a href="/"><button type="submit">Go home</button></a>
    <p>안녕하세요</p>
    <p>test용 글입니다</p>
    <a href="/">post go!</a>
    <div>
        <p>inner div</p>
    </div>
    <button type="button">click!</button>
    <p>원하시는 내용을 입력하세요</p>
    <input type="text">
    <input type="checkbox">
    <input type="button">
    <form>
        <p>원하시는 내용을 입력하세요</p>
        <input type="text" placeholder="여기에 적으세요!">
        <button type="submit">제출</button>
    </form>
    <ul>
        <li>apple</li>
        <li>orange</li>
        <li>banana</li>
    </ul>
    <ol>
        <li>first</li>
        <li>second</li>
        <li>third</li>
    </ol>
    <div class="t1">
        <p>css 활용법?</p>
    </div>
</body>
</html>